@media screen and  (max-width:576px) {
    header{
        padding: 0 10px;
    }
    .nav-content{
        display: none;
    }
    .nav-bar{
        gap: 50px;
        justify-content:space-between;
    }
    .hamburger{
        display: block;
    }
    .banner{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding-bottom:0px;

    }
    .banner-content{
        width: 100%;
        margin-bottom: 40px;
    }
    .banner-img{
        width: 100%;
        height: 450px;
}
    
    .banner-content h1{ 
        font-size: 36px;
        margin-bottom: 20px;
}

.players{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.highlight{
    flex-direction: column;
    gap: 20px;
}


.highlight-content{
    width: 100%;
}

.highlight-content h1{
    text-wrap:wrap;
}

.highlight-img{
    width: 100%;
}

}